<div class="form-container">
  <h2 class="tittle">New Message</h2>
  <form class="card_form" method="POST" action="/new">
    <div class="input">
      <input type="text" name="user" class="input-field" required />
      <label class="input-label">Author</label>
    </div>
    <div class="input">
      <textarea name="text" class="input-field" required></textarea>
      <label class="input-label">Message</label>
    </div>
    <div class="buttons">

      <button class="btn">
        <span>Add message</span>
      </button>
      <a href="/">
        <span>Go back</span>
      </a>
    </div>
  </form>
</div>
